<div>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile class="grid-tile" style="background-color: blue;">{{titulo}}</mat-grid-tile>
    <mat-grid-tile class="grid-tile" style="background-color: blueviolet;">2</mat-grid-tile>
    <mat-grid-tile class="grid-tile" style="background-color: brown;">3</mat-grid-tile>
    <mat-grid-tile class="grid-tile" style="background-color: burlywood;">4</mat-grid-tile>
    <mat-grid-tile class="grid-tile" style="background-color: bisque;">5</mat-grid-tile>
    <mat-grid-tile class="grid-tile" style="background-color: blanchedalmond;">6</mat-grid-tile>
  </mat-grid-list>
</div>
